@page
@model NinjaTools.Pages.Base64Model
@{
    ViewData["Title"] = "Base64 Encode/Decode";
}
<div class="row p-0">
    @(await Html.PartialAsync("Shared/_Base64TextArea", Model.InputVm))
    @(await Html.PartialAsync("Shared/_Base64TextArea", Model.EncodedVm))

</div>

@section Scripts
    {
    <script>
        function copyToClipboard(elementId) {
            var copyText = $('#' + elementId);
            copyText.select();
            document.execCommand("copy");
        }

        function clearText(elementId) {
            document.getElementById(elementId).value = '';
        }

        $('#@Model.InputVm.Name').on('input propertychange', function() {
            var details = $(this).val();
            // If it's the propertychange event, make sure it's the value that changed.
            if (window.event && event.type == 'propertychange' && event.propertyName != 'value')
                return;

            // Clear any previously set timer before setting a fresh one
            window.clearTimeout($(this).data('timeout'));

            $(this).data('timeout', setTimeout(function() {
                $('#@Model.EncodedVm.Name').val(btoa(details));
            }, 500));
        });

        $('#@Model.EncodedVm.Name').on('input propertychange', function() {
            var details = $(this).val();
            // If it's the propertychange event, make sure it's the value that changed.
            if (window.event && event.type == 'propertychange' && event.propertyName != 'value')
                return;

            // Clear any previously set timer before setting a fresh one
            window.clearTimeout($(this).data('timeout'));
            $(this).data('timeout', setTimeout(function() {
                $('#@Model.InputVm.Name').val(atob(details));
            }, 500));
        });
    </script>
}