@page
@model NinjaTools.Pages.Base64Model
@{
}
<div class="row">
    <div class="col-xl-6">
        <h1 class="display-4">Plain</h1>
        <textarea id="input" class="form-control code-style" rows="10">@Model.Input</textarea>
    </div>
    <div class="col-xl-6">
        <h1 class="display-4">Encoded</h1>
        <textarea id="encoded" class="form-control code-style" rows="10">@Model.Encoded</textarea>
    </div>
</div>


@section Scripts
{
    <script>
        // Bind input change with a delay
        $('#input').on('input propertychange', function () {
            var detailsElement = $(this),
                details = $(this).val();
            // If it's the propertychange event, make sure it's the value that changed.
            if (window.event && event.type == 'propertychange' && event.propertyName != 'value')
                return;

            // Clear any previously set timer before setting a fresh one
            window.clearTimeout($(this).data('timeout'));
            $(this).data('timeout', setTimeout(function () {
                $.ajax({
                    type: "POST",
                    url: "base64/encode",
                    data: details,
                    datatype: "text/plain",
                    contentType: "text/plain",
                    success: function (data) {
                        $('#encoded').val(data);
                    }
                });
            }, 500));
        });

        // Bind input change with a delay
        $('#encoded').on('input propertychange', function () {
            var detailsElement = $(this),
                details = $(this).val();
            // If it's the propertychange event, make sure it's the value that changed.
            if (window.event && event.type == 'propertychange' && event.propertyName != 'value')
                return;

            // Clear any previously set timer before setting a fresh one
            window.clearTimeout($(this).data('timeout'));
            $(this).data('timeout', setTimeout(function () {
                $.ajax({
                    type: "POST",
                    url: "base64/decode",
                    data: details,
                    datatype: "text/plain",
                    contentType: "text/plain",
                    success: function (data) {
                        $('#input').val(data);
                    }
                });
            }, 500));
        });
    </script>
}
